.nav {
    /* background-color: black; */
    background-color: white;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    /* background: white; */
    border-bottom: solid 1px gray;



}

.nav p {
    font-size: 1rem;
}

.name {
    font-size: 2rem;
    display: flex;

}

.name h1 {
    font-size: 4rem;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.name img {
    width: 11rem;
    height: 5rem;
}

.name a {
    text-decoration: none;
    color: black;
}

.link {
    font-size: 2rem;

    display: flex;
    margin-top: 1rem;

}

.link a {
    text-decoration: none;
    color: black;
    margin-right: 1rem;

    /* background-color: red; */

}