.nav {
    /* background-color: black; */
    /* background-color: white; */
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 1;
    /* font-family: 'Mulish', sans-serif;
    font-family: 'Roboto Slab', serif; */
    /* background-color: transparent; */
    border-bottom: 1px solid hsla(0, 0%, 100%, .25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.nav p {
    font-size: 1rem;
}

.name {
    font-size: 2rem;
    display: flex;

}

.name h1 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    /* font-family: Poppins, sans-serif; */
    color: #000;
    margin: 1.6rem;
}

.name img {
    width: 11rem;
    height: 5rem;
}

.name a {
    text-decoration: none;
    color: black;
    /* font-family: 'Mulish', sans-serif;
    font-family: 'Roboto Slab', serif; */
}

.link {
    font-size: 2rem;

    display: flex;
    margin-top: 1rem;

}

.link a {
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .1em;
    text-transform: uppercase;
    /* font-family: Poppins, sans-serif; */
    color: #000;


}

.search {
    margin-top: 2rem;
}